API_ID=
API_HASH=
BOT_TOKEN=

# Owner & Sudo Access
# OWNER_USERS_ID: List of owner user IDs (space separated).
OWNER_USERS_ID=

# SUDO_USERS_ID: List of sudo user IDs (space separated).
SUDO_USERS_ID=

# Logging & Storage
LOG_CHAT_ID=
DB_URI=
MONGO_DB=altruix
MONGO_COLLECTION=mentions_cache

# Bot Configuration
BOT_MODE=
# PREFIX_OWNER_USER: Command prefix for owner/userbot (e.g. ".")
PREFIX_OWNER_USER=.

# PREFIX_SUDO_USERS: Command prefix for sudo users (e.g. "!")
PREFIX_SUDO_USERS=!

# Localization
UB_LANG=en

# Sessions (Space separated string sessions)
SESSIONS=